body {
  margin: 0;
  padding: 0;

  /*width: 1280px;*/

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  /*background-color: #f2f2f2;*/
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;

  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.button-2 {
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-2:hover {
  background-color: #604e43;
}

.button-2:active {
  color: rgba(255,255,255,0.3);
  background-color:#503e33;
}

.form-open-button {
  width: 568px;
  height: 86px;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #766357;
  border: none;
}

.form-open-button:hover {
  background-color: #604e43;
}

.form-open-button:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.main-navigation {
  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
  min-height: 56px;
}

.site-navigation a {
  display: block;
  padding-top: 15px;
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 50%;
  margin-left: -69px;
  width: 138px;
  height: 70px;
}

.intro {
  position: relative;
  top: 0;
  width: 1200px;
  height: 733px;
  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-title {
  position: absolute;
  left: 50%;
  top: 663px;
  margin-left: -245px;
  text-align: center;
}

.main-title h2 {
  width: 440px;
  font-size: 21px;
  margin: 0 auto;
  font-weight: bold;
}

.main-title p {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.features {
  margin-bottom: 55px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list li:nth-last-child(1),
.features-list li:nth-last-child(2),
.features-list li:nth-last-child(3) {
  background-color: #eeeeee;
  padding: 50px 44px 40px 42px;
  width: 314px;
  height: 166px;
}

.features-list li:nth-last-child(1) h3,
.features-list li:nth-last-child(2) h3,
.features-list li:nth-last-child(3) h3 {
  width: 116px;
  margin: 0 auto;
}

.feature-item-big,
.feature-item-small {
  text-align: center;
}

.feature-item-big {
  width: 800px;
  height: 256px;
}

.feature-item-big img {
  width: 800px;
  height: 256px;
}

.feature-item-small {
  width: 400px;
  height: 256px;
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
  min-height: 270px;
  padding-top: 60px;
}

.features-list li:nth-child(5) {
  padding-top: 54px;
}

.feature-item-big h3,
.feature-item-small h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-item-big p,
.feature-item-small p {
  font-size: 14px;
  line-height: 21px;
}

.feature-item-small h3 {
  color: #000000;
}

.feature-item-small p {
  color: #333333;
  font-weight: normal;
}

.features .features-list li:nth-child(1),
.features .features-list li:nth-child(7) {
  background-color: #81b3d2;
}

.feature-item-white h3,
.feature-item-white p {
  color: #ffffff;
}

.house p,
.food p,
.souvenirs p,
.ownlife,
.town h3,
.bridge h3,
.you-can-go {
  margin: 0 auto;
}

.town h3 {
  width: 122px;
  margin-top: 50px;
}

.ownlife {
  width: 280px;
}

.house p {
  width: 255px;
}

.food p {
  width: 288px;
}

.souvenirs p {
  width: 277px;
}

.feature-item-small .souvenirs {
  padding-top: 56px;
}

.you-can-go {
  width: 303px;
}

.bridge h3 {
  width: 151px;
  margin-top: 50px;
}

.date input[type="text"] {
  width: 346px;
  height: 38px;
}

.count input[type="text"] {
  width: 114px;
  height: 38px;
}

.map {
  position: relative;
}

.filters {
  color: #ffffff;
  background-color: #6c96be;
  background-image: url("../img/filter-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  font-size: 14px;
}

.show .button {
  position: absolute;
  width: 133px;
  height: 32px;
  top: 200px;
  right: 450px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1px;
}

.show .button:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-rezults h2 {
  font-size: 21px;
}

.search-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.search-list a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.search-list a:hover {
  color: #81b3d2;
}

.search-list a:active {
  color: #000000;
  border: none;
}

.search-result-current a {
  color: #81b3d2;
  border: none;
}

.catalog-list {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
}

.catalog-list h3 {
  color: #000000;
  font-size: 21px;
}

.catalog-list h3:hover {
  color: #81b3d2;
}

.catalog-list h3:active {
  opacity: 0.3;
}

.catalog-item-price {
  color: #333333;
}

.catalog-item-price .button {
  font-size: 14px;
}

.catalog-item-ratio p {
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  padding: 35px 0;

  color: #000000;
  text-align: center;
  background-color: #ffffff;
  background-image: url("../img/footer-bg.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-hashtag {
  width: 400px;
  margin: 0;
  color: #000000;
  font-size: 21px;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #000000;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0;
}

.footer-copyright span {
  font-weight: normal;
  margin-right: 8px;
}

.footer-copyright svg {
  display: inline-block;
  width: 115px;
  height: 41px;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

.search-form {
  position: absolute;
  z-index: 1;
  width: 568px;
  left: 50%;
  margin-left: -284px;
  background-color: #ffffff;
  text-align: center;
}

.search-form-title {
  text-align: center;
}

.search-form-title h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-form-title p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 50px;
}

.search-form input[type="text"] {
  font: inherit;
  color: #000000;
  font-size: 14px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.find-button {
  padding: 17px 195px 22px;
  font-size: 21px;
}

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1200px;
}

.search-results .container {
  display: flex;
  flex-direction: row;

  padding: 30px 70px;
}

.search-list {
  width: 900px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.search-list li:last-child {
  margin-left: 480px;;
}

.find {
  margin-right: 48px;
}

.catalog {
  width: 1200px;
  padding: 0 70px;
  box-sizing: border-box;

  /* Временно для сетки */
  min-height: 455px;
}

.catalog-item-ratio {
  margin-left: auto;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog-item .wrapper {
  display: flex;
  flex-direction: column;
}
.catalog-item-image {
  margin-right: 30px;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1200px;
  height: 217px;
}

.filter-list {
  padding: 0;
  margin: 0;
  /*padding: 30px 100px 70px 30px;*/
  list-style: none;
}

.filter-column-1 {
  width: 240px;
  padding-left: 70px;
  /*padding-right: : 0px;*/
}

.filter-column-2 {
  width: 290px;

  /*padding-right: : 0px;*/
}

.price-by-day {
  margin-left: auto;
  margin-right: 70px;
}

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
