body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255,255,255,0.3);
  background-color:#5496bd;
}

.button-2 {
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}

.button-2:hover {
  background-color: #604e43;
}

.button-2:active {
  color: rgba(255,255,255,0.3);
  background-color:#503e33;
}

.main-navigation {
  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.intro {
  width: 1200px;
  height: 733px;
  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-title {
  text-align: center;
}

.main-title h2 {
  font-size: 21px;
  font-weight: bold;
}

.main-title p {
  color: #333333;
  font-size: 14px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li:nth-last-child(1),
.features-list li:nth-last-child(2),
.features-list li:nth-last-child(3) {
  background-color: #eeeeee;
}



.feature-item-big,
.feature-item-small {
  text-align: center;
}

.feature-item-big h3,
.feature-item-small h3 {
  font-size: 21px;
  font-weight: bold;
}

.feature-item-big p,
.feature-item-small p {
  font-size: 14px;
}

.feature-item-small h3 {
  color: #000000;
}

.feature-item-small p {
  color: #333333;
}

.features .features-list li:nth-child(1),
.features .features-list li:nth-child(7) {
  color: #ffffff;

  background-color: #81b3d2;
}

.filters {
  color: #ffffff;

  background-color: #6c96be;
  background-image: url("../img/filter-bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter ul {
  list-style: none;
  font-size: 14px;
}

.show .button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 1px;
}

.show .button:hover {
  color: #000000;
  background-color: #ffffff;
}

.search-rezults h2 {
  font-size: 21px;
}

.search-list {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.search-list a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.search-list a:hover {
  color: #81b3d2;
}

.search-list a:active {
  color: #000000;
  border: none;
}

.search-result-current a {
  color: #81b3d2;
  border: none;
}

.catalog-list {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
}

.catalog-list h3 {
  color: #000000;
  font-size: 21px;
}

.catalog-list h3:hover {
  color: #81b3d2;
}

.catalog-list h3:active {
  opacity: 0.3;
}

.catalog-item-price {
  color: #333333;
}

.catalog-item-price .button {
  font-size: 14px;
}

.catalog-item-ratio p {
  color: #666666;
  background-color: #f2f2f2;
}

.main-footer {
  color: #000000;
  text-align: center;

  background-color: #ffffff;
  background-image: url("../img/footer-bg.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-# {
  color: #000000;
  font-size: 21px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #000000;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright svg {
  display: inline-block;
  width: 115px;
  height: 41px;
}

.footer-copyright a:hover svg {
  fill: #85b6d4;
}

.footer-copyright svg:active {
  fill: #bdbbbc;
}

.search-form-title {
  text-align: center;
}

.search-form-title h2 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-form-title p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
}

.search-form-title a {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;

  background-color: #766357;
}

.search-form-title a:hover {
  background-color: #604e43;
}

.search-form-title a:active {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.search-form input[type="text"] {
  font: inherit;
  color: #000000;
  font-size: 14px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.search-form input:hover {
  background-color: #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1200px;
  min-height: 1750px;
}

.main-header {
  margin-bottom: -15px;
  /* Временно для сетки */
  min-height: 60px;
}

.main-header-logo {
  width: 138px;
  height: 70px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
  min-height: 60px;
}

.features {
  margin-bottom: 55px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item-big {
  width: 800px;
  height: 256px;
}

.feature-item-small {
  width: 400px;
  height: 256px;
  /*padding: 50px 0;*/
}

.features-list li:nth-child(3),
.features-list li:nth-child(4),
.features-list li:nth-child(5) {
  padding: 60px 0;
}

.search-results .container {
  display: flex;
  flex-direction: row;

  padding: 30px 70px;
}

.search-list {
  width: 900px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.search-list li:last-child {
  margin-left: 480px;;
}

.find {
  margin-right: 48px;
}

.catalog {
  width: 1200px;
  padding: 0 70px;
  box-sizing: border-box;

  /* Временно для сетки */
  min-height: 455px;
}

.catalog-item-ratio {
  margin-left: auto;
}

.catalog-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.catalog-item .wrapper {
  display: flex;
  flex-direction: column;
}
.catalog-item-image {
  margin-right: 30px;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1200px;
  height: 217px;
}

.filter-list {
  padding: 0;
  margin: 0;
  /*padding: 30px 100px 70px 30px;*/
  list-style: none;
}

.filter-column-1 {
  width: 240px;
  padding-left: 70px;
  /*padding-right: : 0px;*/
}

.filter-column-2 {
  width: 290px;

  /*padding-right: : 0px;*/
}

.price-by-day {
  margin-left: auto;
  margin-right: 70px;
}

.main-footer {
   margin-top: 35px;
   padding: 35px;
}

.main-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-hashtag {
  width: 400px;
  margin: 0;
}

.footer-social {
  width: 400px;
}

.footer-copyright {
  width: 400px;
  margin: 0;
}
